/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Overpass:wght@600;700&display=swap');

/*Styling for all pages*/
*, *::before, *, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: #fefdfd;
    width: 100%;
}

/*---------------
'base.html' STYLING
---------------*/

/*Logo & Navbar*/
nav {
    background-color: #181818;
}

.navbar-dark {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28205, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

.navbar-dark .navbar-toggler {
    border-color: #cd0000;
    margin-left: 100px;
  }

.logo {
    font-size: 25px;
}

.the {
    color: #cd0000;
}

.forum {
    color: #fefdfd;
}

.nav-link {
    font-size: 18px;
    color: rgba(254, 253, 253, 0.5)
}

.nav-link:hover {
    color: rgba(254, 253, 253, 1);
}

.logo:hover .the {
    animation: color-change-the 3s;
}

@keyframes color-change-the {
    0% {
        color: #cd0000;
    }
    50% {
        color: #fefdfd;
    }
    100% {
        color: #fefdfd;
    }
}

.logo:hover .forum { 
    animation: color-change-forum 3s;
}

@keyframes color-change-forum {
    0% {
        color: #fefdfd;
    }
    50% {
        color: #cd0000;
    }
    100% {
        color: #cd0000;
    }
}

.logoHoverRemoved .the {
    animation: color-remove-the 3s;
}

.logoHoverRemoved .forum {
    animation: color-remove-forum 3s;
}

@keyframes color-remove-forum {
    0% {
        color: #cd0000;
    }
    50% {
        color: #fefdfd;
    }
    100% {
        color: #fefdfd;
    }
}

@keyframes color-remove-the {
    0% {
        color: #fefdfd;
    }
    50% {
        color: #cd0000;
    }
    100% {
        color: #cd0000;
    }
}

/*Main Section*/
#main {
    height: auto;
    max-width: 1000px;
    padding: 0;
}

/*Footer*/
footer {
    background-color: #181818;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.socials {
    padding: 15px 0;
    font-size: 180%;
}

.socials > li {
    display: inline;
    margin: 20px;
}

.socials a, .footerSignature a {
    color: #fefdfd;
    text-decoration: none;
}

a:hover {
    color: #cd0000;
}

.footerSignature {
    color: #fefdfd;
}

/*
All Authorisation Pages STYLING
*/
.auth {
    margin-top: 5vh;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.auth a {
    color: #cd0000;
}

.auth a:hover {
    color: #181818;
}

.auth-form {
    text-align: left;
    margin-bottom: 1rem;
    width: auto;
}

.auth-form input {
    float: right;
    clear: both;
    background-color: #fefdfd;
    border-radius: 5px;
    border: none;
}

.auth-form button {
    background-color: #cd0000;
    color: #fefdfd;
    border-radius: 5px;
    border: none;
}

.auth-form button:hover {
    color: #181818;
}

.center-button {
    text-align: center;
}

/*Auth Login*/

label[for=id_remember] {
    float: right;
}

/*Auth Password Reset*/
.input-group {
    text-align: center;
}

#resetpw-btn {
    background-color: #cd0000;
    color: #fefdfd;
    border-radius: 5px;
    width: auto;
}

#resetpw-btn:hover {
    color: #181818;
}

/*---------------
'index.html' STYLING
---------------*/

.display-4 {
    margin-top: 10px;
}

.sign-up-btn {
    margin-bottom: 10px;
}

.sign-up-btn:hover {
    color: #cd0000 !important;
    background-color: #181818 !important;
}

.my-4 {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    border-top: 2px solid #181818;
    opacity: 1;
}

h6 {
    padding-left: 0 !important;
}

/*Top Stories*/

.news {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-right: 0;
    position: relative;
}

.top-stories {
    position: relative;
    text-align: center;
    margin: 10px auto;
    padding: 0;
    width: 200px;
    height: 105px;
    background-color: #f2f2f2;
}

.top-stories img {
    width: 100%;
    height: 105px;
    border-radius: 5px;
}

.top-stories a {
    display: flex;
    position: absolute;
    text-decoration: none;
    font-size: small;
    height: 100%;
    bottom: 0;
    background-color: rgba(24, 24, 24, 0.5);
    color: #fefdfd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.article-title {
    margin-top: auto;
}

/* Latest Posts */
.latest-posts {
    margin-top: 10px;
}

.latest-posts a {
    text-decoration: none;
    color: #181818;
}

.likes-col {
    padding: 0;
    width: auto;
    position: relative;
}

.likes {
    font-size: 15px;
}

.index-forum-post {
    padding-bottom: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #fefdfd;
    background-color: #f2f2f2;
    border: 1px solid transparent;
}

.index-forum-post:hover {
    border: rgba(24, 24, 24, 0.5) solid 1px;
}

.user-likes {
    padding-left: 1%;
    height: 15px;
    margin-top: 10px;
}

.post-title {
    padding-left: 1%;
}

.index-img-container {
    text-align: center;
}

.index-forum-post-img {
    width: 98%;
    align-items: center;
}

.index-forumboard-post{
    font-size: 12px;
}

/*Top Boards*/
.top-boards {
    margin-top: 10px;
    padding: 0;
    width: 100%;
}

.view_all_boards {
    color: #cd0000 !important;
    text-decoration: underline !important;
}

.view_all_boards:hover {
    color: #181818 !important;
}

.top-boards a {
    text-decoration: none;
    color: #181818;
}

.top-boards-title {
    display: inline-flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.index-forum-board {
    box-sizing: border-box;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: auto;
    align-items: center;
    border-radius: 5px;
    border: 1px solid transparent;
}

.index-forum-board:hover {
    border: rgba(24, 24, 24, 0.5) solid 1px;
}

.board-name {
    color:#cd0000;
    font-size: large;
}

.zero-right-padding {
    padding-right: 0;
}

/*
'board_header.html' STYLING
*/
#board-header {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #181818;
    color: #fefdfd; 
}

.board-header-img-div {
    padding: 0; 
}

.board-header-img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.name-about-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.forum-board-name {
    margin-top: 0.5rem;
}

.forum-board-about {
    margin: auto 0;
}

/*
'post_detail.html' STYLING
*/
#post-detail {
    margin: 10px auto;
    width: 95%;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.post-detail-title-likes {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.post-detail-likes {
    font-size: large;
}

.post-detail-image {
    margin: 10px;
    width: 98%;
}

.post-detail-image-container {
    text-align: center;
}

.post-detail-content {
    margin: 10px;
    font-size: large;
}

.post-detail-created-creator {
    margin: 10px;
    text-align: right;
    font-size: small;
}

/* Comment Section */
.post-comment {
    padding: 0;
}

#comment-form label {
    display: none;
}

.comment-form {
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

#div_id_body {
    width: max-content;
    height: 125px;
    overflow: scroll;
    border: #181818 solid 1px;
    border-radius: 7px;
}

.comment-btn {
    float: right;
    margin-top: 10px;
    justify-content: right;
}

.post-comments {
    margin: 10px;
    padding: 0;
}

.comment-line {
    color: #cd0000;
    width: 1.5px;
    padding: 0;
    opacity: 0.7;
}

.comment-creator-created {
    padding: 0;
    font-size: small;
}

.comment-likes {
    padding: 0;
    font-size: medium;
}

.comment-body {
    padding: 0;
}

.no-comments {
    text-align: center;
    
}