<!--Add Post Page-->
{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible">
        {{ message }}
        <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
    </div>
{% endfor %}
    <section id="board-header" class="row">
        {% include 'board_header.html' %}
    </section>
    <div class="go-back">
        <a href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i> Home</a>
        <a href="{% url 'board_detail' board.slug %}">{{ board.name }}</a>
    </div>
    <section id="add-post" class="row">
        <div class="row container-fluid add-posts">
            <div class="col-12">
                <h6>Add a Post:</h6>
                <hr class="my-4">
                {% if user.is_authenticated %}
                    <div class="add-post-form">
                        <form method="post" id="post-form" enctype="multipart/form-data">
                            {{ add_post_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-dark btn-sm sign-up-btn add-post-form-btn">Add Post</button>
                        </form>
                    </div>
                {% else %}
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible">
                            You must have an account, or be signed in to add a Post!
                            <a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                        <div class="row container-fluid post-form-no-auth">
                            <h5>Sign in/up to share your thoughts:</h5>
                            <div class="comment-form">
                                <a href="{% url 'account_login' %}" class="btn btn-dark btn-lg sign-up-btn comment-btn">Sign in</a>
                                <a href="{% url 'account_signup' %}" class="btn btn-dark btn-lg sign-up-btn comment-btn">Sign up</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}