{% extends 'base.html' %}
{% block content %}
<section id="all-boards" class="row">
	<div class="row container-fluid">
		<div class="col-12">
			<h6>All Boards</h6>
			<hr class="my-4">
            <div class="board-box">
                {% for board in page.object_list %}
                    {% if board.approved_board %}
                        <a href="{% url 'board_detail' board.slug  %}">
                            <div class="all-boards row">
                                <div class="col-12">
                                    <div class="board-name">
                                        {{ board.name }}
                                    </div>
                                    <div class="board-about">
                                        {{ board.about | safe }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>      
{% endblock %}