{% extends 'base.html' %}
{% block content %}
<section id="all-boards" class="row">
	<div class="row container-fluid">
		<div class="col-12">
			<h6>All Boards</h6>
			<hr class="my-4">
            <div class="go-back">
                <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left"></i> Go back</a>
            </div>
            <div class="board-box">
                {% for board in page.object_list %}
                    {% if board.approved_board %}
                        <a href="{% url 'board_detail' board.slug  %}">
                            <div class="all-boards row">
                                <div class="col-12">
                                    <div class="board-name">
                                        {{ board.name }}
                                    </div>
                                    <div class="board-about">
                                        {{ board.about | safe }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="page-scroll">
                {% if page.has_previous %}
                    <a href="{% url 'all_boards' %}?page={{ page.previous_page_number }}"><i class="fa-solid fa-arrow-left"></i> Previous</a>
                {% endif %}
                {% if page.has_next %}
                    <a href="{% url 'all_boards' %}?page={{ page.next_page_number }}">Next <i class="fa-solid fa-arrow-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</section>      
{% endblock %}