{% extends 'base.html' %}
{% block content %}
<section id="board-header" class="row">
    {% include 'board_header.html' %}
</section>
<section id="board-detail" class="row">
	<div class="row container-fluid board-posts">
		<div class="col-8">
			<h6>Latest Posts</h6>
			<hr class="my-4">
			{% if posts|length <= 0 %}
				<div class="no-posts">
					<p>Looks like there are no posts yet!</p>
					<p>Want to add one? Click the Add Post button on the right!</p>
				</div>  
			{% else %}
				
				{% for post in posts %}
				{{ post.creator }} {{ post.created_on }}
				{{ post.post_title }}
				<!--{{ post.featured_image.url }}-->
				{{ post.excerpt }}
				{{ post.likes.count }}
				{% endfor %}
			{% endif %}
		</div>
		<div class="col-4">
			<div class="learn-more-board">
				<h6>Learn more about {{ board.name }}</h6>
				<hr class="my-4">
				<div class="about-board">
					<p>Description:</p>
					<p>{{ board.about | safe }}</p>
				</div>
				<div class="followers-board">
					<p>Followers:</p>
					<p>{{ board.followers.count }}</p>
				</div>
				<div class="board-say-something">
					<p>Got something to say?</p>
					<a href="#" class="btn btn-dark btn-lg sign-up-btn comment-btn">Add Post</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}