{% extends 'base.html' %}
{% block content %}
<section id="board-header" class="row">
    {% include 'board_header.html' %}
</section>
<section id="board-detail" class="row">
	<div class="row container-fluid board-posts">
		<div class="col-8">
			<h6>Latest Posts</h6>
			<hr class="my-4">
			{% if page.object_list|length <= 0 %}
				<div class="no-posts">
					<p>Looks like there are no posts yet!</p>
					<p>Want to add one? Click the Add Post button below!</p>
					<a href="#" class="btn btn-dark btn-sm sign-up-btn add-post-btn">Add Post</a>
				</div> 
			{% else %}
				{% for post in page.object_list %}
					<a href="{% url 'post_detail' post.slug  %}">
						<div class="board-detail-posts">
							<a href="{% url 'post_detail' post.slug  %}">
							<div class="board-detail-post-title-likes">
								{{ post.post_title }}
								<div class="board-post-detail-likes">
									<i class="fa-regular fa-heart"></i>
									{{ post.likes.count }}
								</div>
							</div>
							<div class="board-detail-post-image-container">
								<img src="{{ post.featured_image.url }}" class="board-post-image">
							</div>
							<div class="board-detail-exceprt-creator-created">
								{{ post.excerpt }}
								<div class="board-detail-creator-created">
									{{ post.creator }} {{ post.created_on }}
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
				<div class="page-scroll">
					{% if page.has_previous %}
						<a href="{% url 'board_detail' board.slug %}?page={{ page.previous_page_number }}"><i class="fa-solid fa-arrow-left"></i> Previous</a>
					{% endif %}
					{% if page.has_next %}
						<a href="{% url 'board_detail' board.slug %}?page={{ page.next_page_number }}">Next <i class="fa-solid fa-arrow-right"></i></a>
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="col-4">
			<div class="learn-more-board">
				<h6>Learn more about {{ board.name }}</h6>
				<hr class="my-4">
				<div class="about-board">
					<p class="board-description-title">Description:</p>
					<p>{{ board.about | safe }}</p>
					<div class="vr comment-line"></div>
				</div>
				<div class="followers-board">
					<p class="board-description-title">Followers:</p>
					<p>{{ board.followers.count }}</p>
				</div>
				{% if page.object_list|length <= 0 %}
				{% else %}
					<div class="board-say-something">
						<div class="vr comment-line"></div>
						<p class="board-description-title">Got something to say?</p>
						<a href="#" class="btn btn-dark btn-sm sign-up-btn add-post-btn">Add Post</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}