{% extends 'base.html' %}
{% block content %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible">
	{{ message }}
	<a href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
</div>
{% endfor %}
<section id="board-header" class="row">
    {% include 'board_header.html' %}
</section>
<div class="go-back">
    <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left"></i> Go back</a>
</div>
<section id="board-detail" class="row">
	<div class="row container-fluid board-posts">
		<div class="col-8">
			<h6>Latest Posts</h6>
			<hr class="my-4">
			{% if page.object_list|length <= 0 %}
				<div class="no-posts">
					<p>Looks like there are no posts yet!</p>
					<p>Want to add one? Click the Add Post button below!</p>
					<a href="{% url 'add_post' board %}" class="btn btn-dark btn-sm sign-up-btn add-post-btn">Add Post</a>
				</div> 
			{% else %}
				{% for post in page.object_list %}
					<a href="{% url 'post_detail' post.slug  %}">
						<div class="board-detail-posts">
							<a href="{% url 'post_detail' post.slug  %}">
							<div class="board-detail-post-title-likes">
								{{ post.post_title }}
								<div class="board-post-detail-likes">
									<i class="fa-solid fa-map-pin"></i>
									{{ post.likes.count }}
								</div>
							</div>
							<div class="board-detail-post-image-container">
								<img src="{{ post.featured_image.url }}" class="board-post-image">
							</div>
							<div class="board-detail-exceprt-creator-created">
								{{ post.excerpt }}
								<div class="board-detail-creator-created">
									{{ post.creator }} {{ post.created_on }}
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
				<div class="page-scroll">
					{% if page.has_previous %}
						<a href="{% url 'board_detail' board.slug %}?page={{ page.previous_page_number }}"><i class="fa-solid fa-arrow-left"></i> Previous</a>
					{% endif %}
					{% if page.has_next %}
						<a href="{% url 'board_detail' board.slug %}?page={{ page.next_page_number }}">Next <i class="fa-solid fa-arrow-right"></i></a>
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="col-4">
			<div class="learn-more-board">
				<h6>Learn more about {{ board.name }}</h6>
				<hr class="my-4">
				<div class="about-board">
					<p class="board-description-title">Description:</p>
					<p>{{ board.about | safe }}</p>
				</div>
				<div class="followers-board">
					<p class="board-description-title">Follow this board?</p>
					{% if user.is_authenticated %}
                    	<form class="d-inline" action="{% url 'board_follow' board.slug %}" method="POST">
                    	{% csrf_token %}
                    	{% if following %}
							<div class="following">
								You are following {{ board.name }}!
                        		<button type="submit" name="board_id" value="{{ board.slug }}" class="btn-like btn-red"><i class="fa-solid fa-user-plus"></i></button>
							</div>
                    	{% else %}
							<div class="following">
								Click the plus icon to follow! 
                        		<button type="submit" name="board_id" value="{{ board.slug }}" class="btn-like"> <i class="fa-solid fa-user-plus"></i></button>
							</div>
						{% endif %}
                    	</form>
					{% else %}
						You must be signed in to follow!
						<i class="fa-solid fa-user-plus"></i>
						<a href="{% url 'account_login' %}" class="btn btn-dark btn-sm sign-up-btn follow-btn">Sign in</a>
						<a href="{% url 'account_signup' %}" class="btn btn-dark btn-sm sign-up-btn follow-btn">Sign up</a>
					{% endif %}
					<p>Did you know following this board will also raise it up in our top boards list?</p>
					<p>{{ board.followers.count }} Followers</p>
				</div>
				{% if page.object_list|length <= 0 %}
				{% else %}
					<div class="board-say-something">
						<p class="board-description-title">Got something to say?</p>
						<a href="{% url 'add_post' board %}" class="btn btn-dark btn-sm sign-up-btn add-post-btn">Add Post</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}