{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<section id="board-header" class="row">
        {% include 'board_header.html' %}
</section>
<section id="post-detail" class="row">
    <div class="col-12">
        <div class="post-detail-title-likes">
            <span class="post-detail-title"><h4>{{ post.post_title }}</h4></span>
            <span class="post-detail-likes">
                <i class="fa-regular fa-heart"></i>
                {{ post.likes.count }}
            </span>
        </div>
        <div class="post-detail-image-container">
            <img class="post-detail-image" src="{{ post.featured_image.url }}" alt="Image relating to {{ post.pos_title }}">
        </div>
        <div class="post-detail-content">
            {{ post.post_detail | safe }}
        </div>
        <div class="post-detail-created-creator">
            Posted on {{ post.created_on }}
            by {{ post.creator }}
        </div>
    </div>
    <div class="col-12">
        <div class="row container-fluid post-comment">
        {% if user.is_authenticated %}
        <h5>Share your thoughts:</h5>
        <div class="comment-form">
            <form method="post" id="comment-form">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-sm sign-up-btn comment-btn">Comment</button>
            </form>
        </div>
        {% else %}
        <div class="col-12">
            <div class="row container-fluid post-comment-no-auth">
                <h5>Sign in/up to share your thoughts:</h5>
                <div class="comment-form">
                    <a href="{% url 'account_login' %}" class="btn btn-dark btn-lg sign-up-btn comment-btn">Sign in</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-dark btn-lg sign-up-btn comment-btn">Sign up</a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-12">
            <div class="row container-fluid post-comments">
                <h6>Comments</h6>
                <hr class="my-4">
                {% if comments|length <= 0 %}
                    <div class="no-comments">
                        <p>Looks like there are no comments yet!</p>
                        <p>Got something to say? Add a comment using the comment box above!</p>
                    </div>  
                {% else %}
                    {% for comment in comments %}
                        <div class="comment-creator-created">
                            {{ comment.creator }} - {{ comment.created_on }}
                        </div>
                        <div class="comment-body">
                            {{ comment.body }}
                        </div>
                        <div class="comment-likes">
                            <i class="fa-regular fa-heart"></i>
                            {{ comment.comment_likes.count }}
                        </div>
                        {% if forloop.counter >= comments|length %}
                        {% else %}
                            <div class="vr comment-line"></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}