<div class="row container-fluid top_posts">
    <h6>Latest Posts</h6>
    <hr class="my-4">
    {% for post in latest_posts %}
    <div class="index-forum-post row">
        <div class="col-12">
            <div class="row user-likes">
                <div class="col-11">
                    <div class="index-forumboard-post">
                        Posted on {{ post.forum_board }} by {{ post.creator }}
                    </div>
                </div>
                <div class="col-1 likes-col">
                    <span class="likes">
                        <i class="fa-regular fa-heart"></i>
                    <span class="post-like-count">{{ post.likes.count }}</span>
                </div>
            </div>
            <div>
                {{ post.post_title }}
            </div>
            <div class="index-img-container">
                <span><img class="index-forum-post-img" src="{{ post.featured_image.url }}"></span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>